test_oop_neto.py
# Виртуальное окружение
supplements.html
venv/
__pycache__/
*.pyc
*.json
# Папки с музыкой (укажите ваши названия)
Music/
audio/
mp3/
*.mp3
# IDE
.vscode/
.idea/
*.env
# Логи
*.log
certificate/
PYAPI_Homework/
rutube_audio/
Rutube_audio_GUI/
# Закрытые учебные модули
bd/postgre_neto.py