test_oop_neto.py
# Виртуальное окружение
venv/
__pycache__/
*.pyc
*.json
# Папки с музыкой (укажите ваши названия)
Music/
audio/
mp3/
*.mp3
# IDE
.vscode/
.idea/

# Логи
*.log
certificate/
PYAPI_Homework/
rutube_audio/
Rutube_audio_GUI/